<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Usuario</title>
		</head>
	<body>

		<h1>Adicionar Usuario</h1>
		<form action="/usuarios/salvar" method="post">
			<label>Login</label>
			<input type="text" id="nome" name="nome" placeholder="Titulo da noticia"/> 
			<br/>
			<label>senha</label>
			<textarea  id="senha" name="senha" rows="5" cols="20"> </textarea>
			<input type="submit" value="Enviar"/> 
		</form>

	</body>
</html> 